<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://nj02all01.baidupcs.com/file/acdf22e73e963b83ad6a3c2948c639fd?bkt=p3-0000b25ddfde05f83087f5647903c44d5bec&fid=833519175-250528-760686227782342&time=1498759368&sign=FDTAXGERLBHS-DCb740ccc5511e5e8fedcff06b081203-xV66NtgXvES0hJe0lsRz2XYam2w%3D&to=69&size=137150285&sta_dx=137150285&sta_cs=7&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH,Yangquan,Netizen-anywhere,,none,any&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=0000b25ddfde05f83087f5647903c44d5bec&sl=83034191&expires=8h&rt=sh&r=419124518&mlogid=4176686093395965172&vuk=282335&vbdid=3945748595&fin=Unity-iPhone.ipa&fn=Unity-iPhone.ipa&rtype=1&iv=0&dp-logid=4176686093395965172&dp-callid=0.1.1&hps=1&csl=300&csign=jxOBRm%2B9AOkpJPmKw2etyaLT0P0%3D&so=0&ut=6&uter=4&serv=0&by=themis</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.evr.emobile</string>
				<key>bundle-version</key>
				<string>3.0.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>emobile.ipa</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
